extends layout
block content
  .banner
    if items[0].clip != NULL
      video.banner__video(autoplay muted loop)
        source(src=items[0].clip.clip type="video/mp4")
    else
      img.banner__img(src=items[0].background_image)
  .sandbox
    each i in items
      div.sandbox__item.card 
        img.card__img(src=i.background_image)
        .card__title=i.name
        .card__info
          each p in i.platforms
            .card__platforms=p.platform.name
          .card__released="Released "+i.released
          .card__rating=i.rating
        .card__frame

